<div class="container">
    <canvas id="canvas"></canvas>
    <div>
      <div class="form-group">
        <label for="strokeStyle">Color</label>
        <input
          type="color"
          id="strokeStyle"
          class="form-control"
          value="#000000"
        />
      </div>

      <div class="form-group">
        <label for="lineWidth">Line width</label>
        <input
          type="range"
          min="1"
          max="5"
          id="lineWidth"
          class="form-control"
          value="2"
        />
      </div>
    </div>
</div>